In [2]:
import pandas as pd

### Veri tipleri
#### Tek boyutlu veriler için seri

In [6]:
meyve = pd.Series(["Elma","Armut","Muz"])
meyve

0     Elma
1    Armut
2      Muz
dtype: object

In [7]:
renkler = pd.Series(["Kırmızı","Yeşil","Sarı"])
renkler

0    Kırmızı
1      Yeşil
2       Sarı
dtype: object

#### iki boyutlu veriler için dataframe

In [10]:
meyve_data = pd.DataFrame({"Meyve isim":meyve,"Renk":renkler})
meyve_data

  Meyve isim     Renk
0       Elma  Kırmızı
1      Armut    Yeşil
2        Muz     Sarı

In [11]:
Sayi = pd.Series([5,3,2])
Sayi

0    5
1    3
2    2
dtype: int64

In [13]:
meyve_data = pd.DataFrame({"Meyve isim":meyve,"Renk":renkler,"Sayı":Sayi})
meyve_data

  Meyve isim     Renk  Sayı
0       Elma  Kırmızı     5
1      Armut    Yeşil     3
2        Muz     Sarı     2